/*Moblie First..........<div class="logo"><p><img src="logo.png" alt="logo" id="logo"> Meet</p></div>
       */
*{
    padding-left: 0px;
}

.navigation{
    position: absolute;
    top: 10px;
    align-items: center;
}
#time{
    margin-right: 20px;
}

.navigation ul{
    display: flex;
}
.navigation ul li a{
    margin-right: 15px;
}

.navigation ul li a {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

#date-time{
    position:relative;
    bottom: 12px;
    font-size: 16px;
}

li a img{
    width: 21px;
    height:auto;
    align-items: center;
}
#iapp{
    display: none;
}


#moto1{
    text-align: center;
    width: 90%;
    position:relative;
    top: 35px;
    font-size: 30px;
}

#m1{
    color: rgb(101, 98, 94);
    font-size: 15px;
    width:85%;
    position: relative;
    left: 5%;
    text-align: center;
}
#joinb{
    border: none;
    background-color: #f3f0f0;
    width: 15%;
    height:50px;
    border-radius: 10px;
}
.cont2{
    margin: 10px 20px 10px;
    align-items: center;
    position: relative;
    text-align: center;


}




#codebox {
    padding: 1px 40px;
    margin-left:3px;
    margin-top: 29px;
    border: 2px solid #616060;
    border-radius: 5px;
    background-image: url('img/keyboard.png');
    background-repeat: no-repeat;
    background-position: 10px ;
    background-size: 20px; 
    font-size: 10px;

}
#newmeeting{
    margin-left:2px;
    text-decoration: none;
    background-color: rgb(31, 97, 240);
    color: white;
    font-size: 10px;
    border-radius: 15px;
    padding: 10px 10px;
}

.inputs label{
    display: block;
    
}
/*vid logo*/
div a img{
    width: 30px;
    padding-top: 10px;
    position: relative;
    top: 15px;
}

#vidlogo{
    
    padding: 2px ;
}
input{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border-color: #000;
}
#img{
    width: 69%;
    margin-top: 60px;
}

#m2{
    color: rgb(61, 60, 58);
    font-size: 20px;
}
.l{
    display: none;
}

#click{
    font-size: 12px;
}
p a{
    text-decoration: none;
}
hr{
    border-color: rgb(246, 243, 243);
    margin: 20px;
}




@media(min-width:960px){
    
    main{
        display: flex;
        position:absolute;
    } 
    .navigation{
        margin: 10px;
    }
    #iapp{
        display:block;
    }
    .inputs label{
        display:inline;
        font-size: medium;
    }
    .navigation{        
        right:60px;        
    }
    li a img{
        
        width: 80px;
        height:auto;
        align-items: center;
    }

    #time #date-time{
        font-size: 45px;
    }
    #logo{
        width: 240px;
        height: auto;
        background-image: url(img/logo.png);
        background-repeat: no-repeat;
        background-size:contain;
        height:auto;
        position: fixed;
        top: 30px;
        padding: 40px;
        color: rgb(74, 73, 72);
    }
    #logo::after{
        content: "Meet";
        font-weight: bold;
        position:absolute;
        top: 10px;
        left: 260px;
        bottom:10px;
        font-size: 45px;
    }
    .cont1{
        width:60%;
        position: relative;
        left: 100px;
        margin-right: 5px ;
        padding-right: 200px;
        top: 300px;

    
    }
    .cont1 .inputs{
        font-size: 20px;
    }
    #moto1{
        font-size: 75px;
        width:90%;

    }  
    #m1{
        font-size: 35px;
        width: 90%;
        text-align: none;
    }
    .cont2{
        position: relative;
        margin-right: 100px;
        padding-left: 120px;
        top: 205px;
    }
    #newmeeting{
        padding: 35px;
        margin-left: 200px;
    }
    #joinb{
        font-size: larger;
        font-weight: bold;
    }
    #codebox{
        font-size: 20px;
        font-weight: bold;
        padding: 20px 55px;
        margin-left: 30px;
        margin-right: 30px;

    }
    .learn{
        display: none;
    }
    hr{
        position: relative;
        top: 20px;
    }
    
    .l{
        font-size: 30px;
        top:20px;
        display: contents;
    }
    p a{
        top: 50%;
        left: 50%;
        right: 50%;
    }
    .navigation ul li a {
        padding-left: 12px;
    }
    #date-time{
        font-size: 20px;
    }
    
    #img{
        width: 70px;
        margin-top: 3px;
    }
    #m2{
        font-size: 40px;
    }
    #click{
        font-size:29px;
        position: relative;
        bottom: 20px;
    }
    .learn{
        font-size: 20px;
    }
    .cont2 #img{
        width:450px;
    }

}

@media(min-width:1140px){
        body{
            font-size: 18px;
            margin:0;
            padding: 0;
        }
        #img{
            width: 350px;
            margin-top: 100px;
        }
        
}