body{
    background-color: rgb(12, 1, 1);
    background: linear-gradient(45deg, #050505, #270b0b);
    color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#log1{
    width: 150px;
    height: 100px;
    display: none;
}

#log2{
    width: 80px;
    height: 100px;
}

nav a{
    /* px,py,mt;bold */
}

#moto{
    font-size: 4vw;
}
#emailbox{
    color: rgb(255, 255, 255);
    background-color: rgba(248, 240, 240, 0.6);
    backdrop-filter: blur(20px);
    
}
.getstarted{
    background-color: red;
}
#trending {
    
    display:  flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    padding: 10px;
     scroll-behavior: smooth;
    scrollbar-width: none; 
}
#trending img{
    width:200px;
    height: 250px;
    object-fit: cover;
}

#card{
    background-color: rgba(100, 96, 96, 0.7);
    backdrop-filter: blur(20px);
}


.jq1{
    display: none;
}



footer a{
    color: rgb(171, 162, 162);
    backdrop-filter: blur(20px);
}
